@font-face {
  font-family: "Orbit";
  src: url("./src/font/Orbit-Regular.ttf") format("truetype");
}

html,
body,
body {
  margin: 0;
  padding: 0;
}

*,
a,
button {
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Orbit", monospace;
}

button {
  padding: 5px 20px;
  padding-bottom: 8px;
  font-size: 16px;
}

#container {
  position: relative;
  box-sizing: border-box;
  width: 350px;
  height: 500px;
  overflow: scroll;
  padding: 20px;
}

.header-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.header-wrapper #header-en {
  font-size: 24px;
  font-weight: 700;
  background-color: black;
  padding-bottom: 6px;
}

.header,
.card-header {
  color: white;
  text-shadow: 1px 1px #adff2f, 2px 2px #ff1818, 3px 3px #1f51ff;
}

.card {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.card .card-header {
  position: relative;
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-bottom: 4px;
  background-color: black;
}

.card .card-header .header-shadow {
  color: red;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  bottom: 3px;
  left: 7px;
}

.card .card-content {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

#toggle-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#timer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timer-wrapper #timer-description {
  font-size: 12px;
  text-align: center;
}
#timer-wrapper #timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#timer-wrapper #timer #timer-minute,
#timer-wrapper #timer #timer-second,
#timer-wrapper #timer .timer-colon {
  font-size: 24px;
}

#timer-wrapper #timer .timer-colon {
  user-select: none;
}

#toggle-label {
  color: gray;
  font-size: 16px;
}

#toggle-btn {
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  background: none;
  border: 3px solid lightgray;
  background-color: lightgray;
  border-radius: 15px;
  width: 54px;
  height: 24px;
  padding: 0;
  margin-top: 10px;
  align-self: center;
}

#toggle-btn .switch {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
  width: 54px;
  transition: transform 0.2s 0s ease-in-out;
  transform: translateX(-30px);
}

#toggle-btn .switch .switch__dot {
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

#toggle-btn .switch .switch__bg {
  z-index: 1;
  background-color: #24a0ed;
  width: calc(100% - 12px);
  height: 100%;
  transition: opacity 0s 0.2s;
  opacity: 0;
}

#toggle-btn.enabled .switch {
  transform: translateX(0px);
}

#toggle-btn.enabled .switch .switch__bg {
  transition: opacity 0s 0s;
  opacity: 1;
}

#payment-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#payment-wrapper .description-wrapper {
  word-break: keep-all;
  margin-bottom: 10px;
  text-align: center;
}

#payment-wrapper .description-wrapper #payment-description {
  font-size: 12px;
  text-align: center;
}

#payment-wrapper .btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#payment-wrapper .btn-wrapper .payment-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  background-color: black;
  border: none;
  border-radius: 10px;
  text-align: center;
}

#payment-wrapper .btn-wrapper .payment-btn:hover .icon {
  animation: boost 2s 0s ease-in-out infinite;
}

@keyframes boost {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  25% {
    opacity: 1;
    transform: translate(-5px, 5px);
  }
  50% {
    opacity: 1;
    transform: translate(48px, -48px);
  }
  51% {
    opacity: 0;
    transform: translate(48px, -48px);
  }
  52% {
    opacity: 0;
    transform: translate(-48px, 48px);
  }
  53% {
    opacity: 1;
    transform: translate(-48px, 48px);
  }
  60% {
    opacity: 1;
    transform: translate(-48px, 48px);
  }
  90% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

#payment-wrapper .btn-wrapper .payment-btn .icon {
  display: inline;
  font-size: 18px;
  margin-right: 10px;
}

#payment-wrapper .btn-wrapper .payment-btn .text {
  color: white;
  display: inline;
  font-size: 14px;
  font-weight: 500;
}

#payment-wrapper .btn-wrapper .restore-payment {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 12px;
  text-decoration: underline;
  height: fit-content;
  padding: 2px;
}

#fee-for-section {
  position: relative;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fee-for-section #locker {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
}

#customize-size,
#customize-dot-count {
  display: flex;
  align-items: center;
}

.lang-select-wrapper {
}

.lang-select-wrapper #lang-select {
  width: fit-content;
}

#footer {
  padding-top: 20px;
}

#footer p {
  color: gray;
  text-align: center;
  font-size: 11px;
}
